.wrapper_card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  height: 100vh;
}

.card {
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
