.wrapper_header {
  padding: 2em;
  position: relative;
  border-radius: 10px 10px 0 0;

  .wrapper_titleBanner {
    width: 200px;
    position: absolute;
    top: -15px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    .titleBanner {
      padding: 0.3em;
    }
  }
  .title {
    display: block;
    text-align: center;
    margin: 0.5em 0;
    font-size: 20px;
    font-family: $font-nunito;
    font-weight: 500;
  }

  .wrapper_plan_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 0.5em;
    margin: 1.5em 0 0.5em 0;

    .left,
    .right {
      width: 48%;
    }

    .plan,
    .planDesc {
      display: block;
      text-align: center;
    }

    .plan {
      font-size: 50px;
      font-family: $font-nunito;
    }
    .planDesc {
      font-size: 15px;
      font-family: $font-nunito;
    }

    .hr {
      border: solid $color-primary 1px;
      margin: 0 0.5em;
    }

    .right {
      display: flex;
      flex-direction: column;
      gap: 0.5em;

      .wrapper_precio {
        display: flex;
        justify-content: space-between;

        .wrapper_info_precio1,
        .wrapper_info_precio2 {
          display: flex;
          flex-direction: column;
          font-size: 12px;
        }

        .wrapper_info_precio2 {
          justify-content: flex-end;
          margin-bottom: 0.4em;
        }

        .info_with_iva {
          font-size: 16px;
        }
      }
    }

    .precio_label {
      display: block;
      font-size: 14px;
    }

    .precio {
      display: block;
      font-size: 29px;
      font-weight: 500;
    }
  }
}

.description {
  display: block;
  text-align: center;
  font-size: 14px;
  padding: 1em;
  background-color: $color-tertiary;
  font-weight: bold;
  color: #333;
}

.card_header_1 {
  background-color: $color-aux;
}

.card_header_2 {
  background-color: $color-primary;
  color: #fff;

  .wrapper_titleBanner {
    color: $color-primary;
  }

  .wrapper_plan_container .hr {
    border: solid $color-aux 1px;
  }
}

.card_titleBanner_1 {
  background-color: $color-secondary;
  color: #fff;
}

.card_titleBanner_2 {
  background-color: $color-aux;
}
